@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

body > * {
    filter: none;
}

img.bg {
    min-height: 100%;
    min-width: 1920px;
    z-index: -1;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

img {
    vertical-align: middle;
    border: 0;
}

.navbar-nav li {
    padding-right: 20px;
}

#textBlock {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.8 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    margin: auto;
    filter:none;
}

.opening {
    display:block;
    color: white;
    font-size: larger;
    font-style:italic;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

.centerHR {
    border: black solid 3px;
    width:50%;
    margin: 10px auto;
}

.leftHR {
    max-width: 500px;
    margin-left: 0;
    border: black solid 1px;
}

.linkText {
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

.ghostImage {
    visibility: hidden;
    max-height: 0px;
    max-width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchBox {
    width: 200px;
}

.bigTitle {
    color: white;
    text-align: center;
    font-size: 75px;
}

.blockTitle {
    margin-left: 15px;
    color:white;
}

.ghostButton {
    background:transparent;
    border:none;
    margin:0px auto;
    display: block;
}

.tab {
    margin-left:3em
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.lords {
    font-weight: bold;
    color: white;
}

.spec{
    margin-bottom: 15px;
}

/*
    source:
    https://stackoverflow.com/questions/34328357/cant-click-anything-after-i-open-my-bootstrap-modal
*/
.modal-backdrop {
    z-index: -1;
}

.modal {
    margin-top: 70px;
    background-color: rgb(52, 57, 64);
}

.modal p {
    color: black;
    font-size: larger;
}

.modal li {
    color: black;
}

.modal-title {
    color: black;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-list {
    margin:10px auto;
    width: 45%;
}

.padding {
    padding-bottom: 2rem;
}

.card-img-top {
    width: 64px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.card {
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 5px;
    margin-top: auto;
}

.opacity {
    background: rgba(0, 0, 0, 0.4);
}

/* Source: w3newbie */
footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: #d5d5d5;
    padding-top: 2rem;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook {
    color: #3b5999;
}
.fa-twitter {
    color: #00dddd;
}
.fa-youtube {
    color: red;
}
.fa-steam {
    color: white;
}